*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:  Helvetica;
    background-color: #ffffff;
    color: #333;
}

#main {          
    margin: 0 auto;         
    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 20px;
}

#top-nav {
    font-size: 26px;
    padding: 15px;
    color: #0090d9;
    text-align: justify;
}
#header {
    width: 100%;
    height: 180px;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

#container {
    display: flex;
    align-items: flex-start;
    padding:0;
}